@font-face {
  font-family: 'H5PRobotoLight';
  src: url('./fonts/Roboto-Light.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'H5PRobotoMedium';
  src: url('./fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'H5PRobotoRegular';
  src: url('./fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'H5PRobotoBold';
  src: url('./fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: normal;
}

.h5p-branching-scenario .h5p-current-screen {
  display: block;
  min-height: 23.333em;
  height: 100%;
  background:#52576C;
}

.h5p-branching-scenario .h5p-next-screen {
  display: none;
}

.h5p-branching-scenario-hidden {
  display: none;
}

.h5p-branching-scenario.h5p-start-screen {
  background: radial-gradient(at top,#5f6883,#494a5c); /* TODO: handle all browsers */
  text-align: center;
  display: flex;
  flex-direction: column;
}

.h5p-branching-scenario .h5p-screen-background {
  position: relative;
  height: 14.583em;
  left: 0;
  margin-top: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3em;
}

.h5p-branching-scenario .h5p-screen-banner {
  position: relative;
  height: 10.250em;
  width: 100%;
  background: black;
  opacity: 0.1;
}

.h5p-branching-scenario .h5p-background-image {
  position: absolute;
  max-height: 14.583em;
  -webkit-box-shadow: 10px 4px 47px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 10px 4px 47px 0px rgba(0,0,0,0.4);
  box-shadow: 10px 4px 47px 0px rgba(0,0,0,0.4);
}

.h5p-branching-scenario .h5p-image-container.h5p-default-start-image {
  background: url(start-screen-default.jpg);
  background-size: 100% 100%;
}

.h5p-branching-scenario .h5p-image-container.h5p-default-end-image {
  background: url(end-screen-default.jpg);
  background-size: 100% 100%;
}

.h5p-branching-scenario-screen-content {
  position: relative;
  margin-bottom: 7em;
  width: 100%;
}

.h5p-branching-scenario .h5p-result-wrapper {
  width: 100%;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
  padding: 0.5em;
}

.h5p-branching-scenario .h5p-result-container {
  background: #3C3D4E;
  color: white;
  min-width: 4em;
  border-style: solid;
  border-width: 0.353em;
  border-color: #525669;
  border-radius: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: H5PRobotoBold;
  padding: 0 0 0 0.5em ;
}

.h5p-branching-scenario .h5p-result-wrapper .h5p-score-text {
  display: inline-block;
  margin-left: 1em;
}

.h5p-branching-scenario .h5p-result-wrapper .h5p-score-circle {
  margin: 0.3em 0.5em 0.3em 0.5em;
  display: inline-block;
  background: #2b2c3a;
  padding: 0.3em 0.5em 0.3em 0.5em;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h5p-branching-scenario-title-text {
  margin-top: 0;
  color: white;
  font-size: 2.292em;
  font-family: H5PRobotoLight;
  margin: 0;
  padding: 0;
}

.h5p-branching-scenario-subtitle-text {
  color: white;
  font-size: 1.083em;
  font-family: H5PRobotoRegular;
}

.h5p-branching-scenario .h5p-start-button, .h5p-end-button, .h5p-nav-button {
  padding: 0.9rem 1.5rem;
  margin: 3rem 1rem 0rem 1rem;
  border-style: solid;
  border-width: 0.1250rem;
  border-color: #98fd8e;
  border-radius: 2rem;
  font-size: 1.25rem;
  color: #98fd8e;
  background: none;
  cursor: pointer;
  font-family: H5PRobotoMedium;
}

.h5p-branching-scenario .h5p-start-button:after {
  font-family: 'H5PFontAwesome4';
  content: "\f178";
  padding-left: 10px;
}

.h5p-branching-scenario .h5p-end-button:before {
  font-family: 'H5PFontAwesome4';
  content: '\f01e';
  padding-right: 10px;
}

#content h2{
  margin: 0px;
  padding: 0px;
  font-size: 1.083em !important;
}

.h5p-branching-scenario .h5p-screen-header {
  min-height: 5em;
  display: flex;
  justify-content: space-between;
  background: transparent;
}

.h5p-branching-scenario .h5p-screen-header .h5p-title-wrapper {
  margin-left: 20px;
}

.h5p-branching-scenario .h5p-screen-header .h5p-title-wrapper h1 {
  font-family: H5PRobotoLight;
  font-size: 1.458em;
  color: #fff;
  font-weight: 200;
}

.h5p-branching-scenario .h5p-screen-header .h5p-title-wrapper h2 {
  font-family: H5PRobotoLight;
  font-size: 0.833em;
  color: #fff;
  font-weight: 200;
}

.h5p-branching-scenario .h5p-screen-header button:after {
  font-family: 'H5PFontAwesome4';
  content: "\f101";
  padding-left: 10px;
}

.h5p-branching-scenario .h5p-nav-button {
  padding: 0.6rem 1.5rem;
  margin-top: 1em;
  margin-right: 20px;
}

.h5p-branching-scenario .h5p-library-wrapper {
  margin: 0 20px 20px 20px;
  background: #EFEFEF;
  color: #383838;
  -webkit-box-shadow: 10px 4px 47px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 10px 4px 47px 0px rgba(0,0,0,0.4);
  box-shadow: 10px 4px 47px 0px rgba(0,0,0,0.4);
}

.h5p-branching-scenario .h5p-library-wrapper .h5p-wrapper {
  width: 100%;
}

.h5p-branching-scenario .h5p-library-wrapper.h5p-advanced-text {
  padding: 1em 1.4em 1em 1.4em;
  max-height: 33em;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 12px;
  background-color: #C7C8CC;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.h5p-branching-scenario-overlay {
  position: absolute;; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
}

.h5p-branching-scenario .h5p-branching-question-wrapper {
  position: absolute;; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
